

   <% if @agent.errors.any? %>
    <div style="color: red; text-align:center;">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>
      <ul style = "list-style-type:none;color:black;">
        <% @agent.errors.each do |error| %>
          <li>*<%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for @agent do |f| %>
    <div id = "form">
    <h2>New Agent </h2>
    <label for = "name" class="label">Enter Your Name: </label>
    <%= f.text_field :name %><br><br>
    <label for = "gender" class="label">Enter Your Gender: </label> <br/><br>
   <div id ="t"> <%= f.radio_button("gender", "Male") %> Male <br/>
    <%= f.radio_button("gender", "Female") %> Female </div><br>
   <label for = "dob" class="label">Enter Your DOB: </label>
    <%= f.date_field :dob %><br><br>
    <label for = "city" class="label">Select your city: </label>
    <%= f.select :city, options_for_select(["Faridabad", "New Delhi", "Gurugram", "Noida", "Rewari"]) %><br><br>
    <label for = "email" class="label">Enter Your Email: </label>
    <%= f.email_field :email %> <br><br>
   <label for = "contact" class="label">Enter Your Contact: </label>
    <%= f.telephone_field :contact %> 
  


    
    <%= f.submit %>
    </div>
<% end %>