<div>
 <h2 style = "text-align:center;color:green;margin-top:6%;font-size:35px;"> Info of agent <%= @agent.name.upcase %> </h2>
 <ul style = "list-style-type:none;margin-top:2%;font-size:20px;">
   <li style = "text-align:center;color:blue;"><h3 >Agent Name: <%= @agent.name %></h3> </li>
   <li style = "text-align:center;color:blue;"><h3 >Agent Contact: <%= @agent.contact %></h3> </li>
   <li style = "text-align:center;color:blue;"><h3 >Agent Email: <%= @agent.email %></h3> </li>
   <li style = "text-align:center;color:blue;"><h3 >Agent Gender: <%= @agent.gender %></h3> </li>
   <li style = "text-align:center;color:blue;"><h3 >Agent DOB: <%= @dob %></h3> </li>
   <li style = "text-align:center;color:blue;"><h3 >Agent City: <%= @agent.city %></h3> </li>
   <li style = "text-align:center;color:blue;"><h3 >Agent Interests: <%= @agent.interests %></h3> </li>
 </ul>
</div>