<h3><%= link_to "Register", "/signup" %> | <%= link_to "Login", "/" %></h3> 
<h2> <%= flash[:message] %></h2>
<% if @id == 1 %>
<h2> Invalid Username or Password </h2>
 <% end %>
<%= form_with(url: "/login", method: :get, id: "form") do |form| %>
   <%= form.label(:name, "User Name:") %>
   <%= form.text_field(:name) %><br><br>
    <%= form.label(:password, "Password:") %>
    <%= form.password_field(:password) %><br><br>
   <%= form.submit("Login") %>
<% end %>
<br>
 