<h3><%= link_to "Create Product", "/products/create" %> | <%= link_to "Logout", "/logout" %></h3> 
<h2> <%= flash[:message] %></h2>
<table style="margin-left:auto; margin-right:auto;margin-top:50px;">
  <tr> 
    <th>Name</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
<% @products.each do |p| %> 
  <tr>
  <td><%= p.name %></td>
  <td><%= p.price %></td> 
  <td><%= link_to "edit", "/product/edit/#{p.id}" %> </td>
  <td><%= button_to "delete", "/product/#{p.id}", method: :delete %> </td>
  </tr>
<% end %> 
</table>
<div style = "margin-bottom:250px;"> 
</div>

